package $packageName;

import com.google.gson.annotations.SerializedName;
import java.util.List;
import java.util.Map;
import javax.annotation.CheckForNull;
import javax.annotation.Nonnull;
import org.anarres.qemu.qapi.common.*;

#parse("/velocity/header.vm")
public class $element.className extends QApiUnion {
#foreach ($field in $element.fields)
	@SerializedName("$field.serializedName")
	$field.annotations
	public $field.typeNameWrapped $field.name;
#end
#foreach ($field in $element.fields)

	@Nonnull
	public static ${element.className} ${field.name}(@Nonnull $field.typeName $field.name) {
		$element.className self = new ${element.className}();
		self.${field.name} = $field.name;
		return self;
	}
#end

	@Override
	public boolean isUnion() {
		int count = 0;
#foreach ($field in $element.fields)
		if ($field.name != null)
			count++;
#end
		return (count == 1);
	}
}
