package $packageName;

import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonValue;
import javax.annotation.CheckForNull;
import javax.annotation.Nonnull;

#parse("/velocity/header.vm")
// $element
public enum $element.className {
#foreach ($field in $element.fields)
	// @JsonProperty("$field.serializedName")
	${field.name}("$field.serializedName"),
#end
	__UNKNOWN("<unknown>");

	private final java.lang.String jsonValue;

	/* pp */ ${element.className}(@Nonnull java.lang.String jsonValue) {
		this.jsonValue = jsonValue;
	}

	@JsonValue
	public java.lang.String getJsonValue() {
		return jsonValue;
	}
}
