package $packageName;

import com.fasterxml.jackson.annotation.JsonProperty;
import javax.annotation.CheckForNull;
import javax.annotation.Nonnull;
import org.anarres.qemu.qapi.common.*;

#parse("/velocity/header.vm")
// $element
public class $element.className extends QApiEvent {
#foreach ($field in $element.fields)
	@JsonProperty("$field.serializedName")
	$field.annotations
	public $field.typeName $field.name;
#end
}
